### Visual Studio ###
*.sln.ide
*.suo
*.user
*.props
*.dotsettings
*.vs

### C# ###
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Cc]lient/[Bb]in/
[Cc]lient/[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.[Pp]db
*.[Cc]sproj.user
*.[Vv][Bb]proj.user
_i.c
_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.builds
*.pidb
*.log
*.scc

### Rider ###
.idea/
*.sln.iml

### Node ###
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### AppSettings ###
appsettings.Development.json
